<nav class="purple darken-4">
    <div class="nav-wrapper">
        <a class="brand-logo">Learning &lt;/&gt;ing</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a [routerLink]="'findnewcourse'">
                    <i class="material-icons left">search</i> Search By Courses
                </a>
            </li>
            <li>
                <a><i class='material-icons'>shopping_cart</i></a>
            </li>
            <li>
                <a><i class='material-icons'>notifications_active</i></a>
            </li>
            <li class='avatar-img'>
                <img src="../assets/img_avatar.png" alt="">
            </li>
        </ul>
    </div>
</nav>

<main class="white">
    <router-outlet></router-outlet>
</main>
<!-- 
<footer class="grey lighten-5">
    <div class='row'>
        <div class="col m3 s6">
            <h6 class='blue-text'>Get To Know Us</h6>
            <ul>
                <li>Teach with Sam</li>
                <li>About Us</li>
            </ul>
        </div>
        <div class="col m3 s6">
            <h6 class='blue-text'>Careers</h6>
            <ul>
                <li>Blogs</li>
                <li>Affiliate</li>
            </ul>
        </div>
        <div class="col m3 s6">
            <h6 class='blue-text'>Sitemap</h6>
        </div>
        <div class="col m3 s6">
            <h6 class='blue-text'>Language</h6>
        </div>
    </div>
</footer> -->